{% comment %} Unfortunataly gift cards are not supported yet via the Storefront API {% endcomment %}
{% comment %} Based on: https://github.com/Shopify/dawn/blob/v7.0.1/templates/gift_card.liquid {% endcomment %}
{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros | strip_html -%}

    <title>
      {{ "Here's your {{ value }}
      gift card for
      {{ shop }}
      !" | t: value: formatted_initial_value, shop: shop.name }}
    </title>

    <meta name="description" content="Your gift card">

    {{ content_for_header }}

    {{ 'template-giftcard.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="gradient">
    <header class="gift-card__title">
      <span>{{ shop.name }}</span>
      <h1 class="gift-card__heading">Your gift card</h1>
      <div class="gift-card__price">
        <p>
          {{ gift_card.initial_value | money }}
        </p>
        {%- if gift_card.enabled == false or gift_card.expired -%}
          <p class="gift-card__label badge badge--background-1">Expired</p>
        {%- endif -%}
      </div>

      {%- assign gift_card_balance = gift_card.balance | money -%}
      {%- if gift_card.balance != gift_card.initial_value -%}
        <p class="gift-card__label caption-large">{{ "Remaining {{ balance }}" | t: balance: gift_card_balance }}</p>
      {%- endif -%}
    </header>

    <main class="gift-card">
      <div class="gift-card__image-wrapper">
        <img
          src="{{ 'gift-card/card.svg' | shopify_asset_url }}"
          alt=""
          class="gift-card__image"
          height="{{ 570 | divided_by: 1.5 }}"
          width="570"
          loading="lazy"
        >
      </div>
      <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
      <div class="gift-card__information">
        <input
          type="text"
          class="gift-card__number"
          value="{{ gift_card.code | format_code }}"
          aria-label="Gift card code"
          readonly
        >
        <div class="gift-card__copy-code">
          <button class="link gift-card__copy-link">Copy code</button>
          <span class="gift-card__copy-success form__message" role="status"></span>
          <template>
            {%- render 'icon-success' -%}
            Code copied successfully
          </template>
        </div>
        {%- if gift_card.pass_url -%}
          <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet">
            <img
              src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}"
              width="120"
              height="40"
              alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}"
              loading="lazy"
            >
          </a>
        {%- endif -%}
        <div class="gift-card__buttons no-print">
          {% if settings.storefront_hostname %}
            <a
              href="https://{{ settings.storefront_hostname }}"
              class="button"
              target="_blank"
              rel="noopener"
              aria-describedby="a11y-new-window-message"
            >
              Continue shopping
            </a>
          {% else %}
            <a
              href="{{ shop.url }}"
              class="button"
              target="_blank"
              rel="noopener"
              aria-describedby="a11y-new-window-message"
            >
              Continue shopping
            </a>
          {% endif %}

          <button
            class="button button--secondary"
            onclick="window.print();"
          >
            Print
          </button>
        </div>
      </div>
    </main>

    <div hidden>
      <span id="a11y-new-window-message">Opens in a new window.</span>
    </div>
  </body>
</html>

<script>
  var string = { qrImageAlt: "QR code — scan to redeem gift card" };
  document.addEventListener('DOMContentLoaded', function() {
   new QRCode( document.querySelector('.gift-card__qr-code'), {
    text: document.querySelector('.gift-card__qr-code').dataset.identifier,
    width: 120,
    height: 120,
    imageAltText: string.qrImageAlt
    });
  });

  var template = document.getElementsByTagName("template")[0];
  var clonedTemplate = template.content.cloneNode(true);

  var isMessageDisplayed = false
  document
  .querySelector('.gift-card__copy-link')
  .addEventListener('click', () => {
    navigator.clipboard.writeText(document.querySelector('.gift-card__number').value).then(function () {
      if (!isMessageDisplayed) {
        document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
        isMessageDisplayed = true
      }
    });
  });
</script>
